:root {
  --calisia-ticket-system-darkred: darkred;
  --calisia-ticket-system-lightred: rgb(255, 158, 158);
  --calisia-ticket-system-lightgray: #ccd0d4;
  --calisia-ticket-system-primary-bg: #fff;
  --calisia-ticket-system-messages-bg: whitesmoke;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.bg-primary {
  background: var(--calisia-ticket-system-primary-bg);
}

.r-img {
  max-width: 100%;
  height: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.thumb img {
  width: 50px;
}

.backend-settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.calisia-ticket-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calisia-admin-alert {
  padding: 10px;
  background: var(--calisia-ticket-system-lightred);
  color: var(--calisia-ticket-system-darkred);
  border: solid 1px var(--calisia-ticket-system-darkred);
  border-radius: 2px;
}

.calisia-ticket-system-backend-panel {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calisia-ticket-system-backend-panel-content {
  background: var(--calisia-ticket-system-primary-bg);
  border: solid var(--calisia-ticket-system-lightgray) 1px;
  padding: 10px;
}

.calisia-ticket-system-backend-panel textarea {
  margin-bottom: 20px;
  margin-top: 20px;
}

#calisia-ticket-messages {
  background: var(--calisia-ticket-system-messages-bg);
  padding: 10px;
  border: solid var(--calisia-ticket-system-lightgray) 1px;
  border-radius: 5px;
}

.calisia-single-ticket-title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calisia-ticket-system-user-details-element {
  width: 100%;
  padding: 10px;
  border-bottom: solid var(--calisia-ticket-system-lightgray) 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calisia-ticket-system-user-details-name {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-size-1-2 {
  font-size: 1.2em;
}

.text-size-1-5 {
  font-size: 1.5em;
}

.text-size-2 {
  font-size: 2em;
}

.text-small {
  font-size: .8em;
}

.text-bold {
  font-weight: bold;
}

.select2-search__field {
  max-width: 100%;
  min-width: 0 !important;
}

.ticket-form-row {
  padding: 10px;
}

.suggestion-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.suggestion-row {
  padding: 10px;
}

.suggestion-row:nth-child(odd) {
  background-color: whitesmoke;
}

.suggestion-row:hover {
  background: #d3e2b5;
}

.suggestion-row-element {
  width: 20%;
  text-align: center;
}
/*# sourceMappingURL=calisia_ticket_system.css.map */